<ion-card class="wishlist-item-card" (click)="onViewProduct()">
  <img [src]="product.image" [alt]="product.name" class="product-image" />
  
  <ion-card-content class="product-info">
    <h3 class="product-name">{{ product.name }}</h3>
    
    <div class="product-details">
      <p class="product-price">${{ product.default_price }}</p>
      
      <div class="rating">
        <ion-icon name="star" color="warning"></ion-icon>
        <span>{{ product.rating }}</span>
      </div>
    </div>
    
    <ion-button 
      fill="clear" 
      color="danger" 
      class="remove-button"
      (click)="onRemoveFromWishlist($event)">
      <ion-icon name="heart" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-card-content>
</ion-card>